body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2em;
}

.navbar {
  background: rgb(147, 66, 253);
  color: white;

}

.nav {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  align-items: center;
}

.titlen {
  font-size: 2.5em;
}